@model IEnumerable<KynaShop.Models.KhuyenMai>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKetThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhanTramKhuyenMai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhanTramKhuyenMai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaKhuyenMai">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaKhuyenMai">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaKhuyenMai">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
