@model IEnumerable<KynaShop.Models.ChiTietHoaDon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TriGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaHoaDonNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSanPhamNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TriGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHoaDonNavigation.MaHoaDon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSanPhamNavigation.MaSanPham)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Stt">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Stt">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Stt">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
